/*-----------------MISE EN PAGE GLOBALE-------------------*/

*{
    scroll-behavior: smooth;
    transition: 0.5s;
}

body{
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
    margin: 0px auto;
    width:  auto;
    max-width: 1280px;
    box-sizing: border-box;
}

#block{
    margin: 0px auto;
    max-width: 1280px;
    padding: 0px 30px 20px 30px;
    color: black;
    background-color: white;
}

a{
    text-decoration: none;
    color: black
}

img {
    object-fit: cover;
}

.fas{ 
    color :#0065FC;
    font-size: 9px;
} 

.fa {
    color:#d6d6d6;
    font-size: 9px;
}

h1{
    font-size: 1.7em;
    font-weight: bold;
    line-height: 18px;
}

h2{
    font-size: 1.4em;
    font-weight: bold;
}

h3{
    font-size: 1.1em;
    font-weight: bold;
}

/*-------------------------HEADER--------------------------------*/

header{
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    align-items: center;
}

#inscription{
    font-weight: bold;
}

#inscription a{
    color: #0065FC;
}

#logo{
    width: 95px;
}

nav a{
    width: 150px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul{
    display: flex;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

nav li{
    text-align: right;
    align-items: center;
}

#menu_hebergement a:hover, #menu_activites a:hover{
    height: 96px;
    color: #0065FC;
    border-top : 3px solid #0065FC;
}

/*------TITRE PRINCIPAL, BARRE DE RECHERCHE, FILTRES et INFO------*/

#formulaire{
    position: relative;
    bottom:10px;
    display: flex;
    align-items: baseline;
    margin-top: 15px;
}

#localisation{
    background-color: #F2F2F2;
    width: 12px;
    padding: 16px 15px 17px 15px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

#ville{
    position: relative;
    font-size: 17px;
    bottom: 17px;
    padding-top: 14px;
    padding-bottom: 13px;
    border :1px solid #F2F2F2;
    width: 230px;
}

#bouton_rechercher{
    position: relative;
    bottom: 17px;
    right: 4px;
    font-size: 16px;
    width: 105px;
    padding : 15px 5px 13px 5px;
    color : white;
    background-color:#0065FC;
    border: none;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

#bouton_rechercher>i{
    display: none;
}

#liste_filtres{
    position: relative;
    bottom:10px;
    display: flex;
    align-items: center;
    justify-content:left;
    align-items: baseline;
    margin-top: 10px;
}

#liste_filtres h2{
    margin-right: 10px;
}

.mes_filtres{
    position: relative;
    display: flex;
    margin-left: 25px;
    border:2px solid #F2F2F2;
    border-radius:25px;
    line-height:0.4em;
    padding: 2px 20px 2px 52px;
    font-size: 16px;
    font-weight: bold;
}

.mes_filtres:hover{
    background-color: rgb(242, 247, 255);
    box-shadow: 0px 0px 9px grey;
    color:white;
    border-color: white;
}

.icon_filtres{
    position: absolute;
    left:-2px;
    bottom: -2px;
    width: 19px;
    height: 19px;
    border-radius: 20px;
    padding:13px;
    background-color: #DEEBFF;
}

#liste_filtres h2{
    font-size: 1.1em;
}

#information{
    display: flex;
    align-items: center;
    margin-top: 10px;
}

#information>div>i{
    color:#0065FC;
    border-radius: 20px;
    border : 2px solid #F2F2F2;
    padding:5px 8px 5px 8px;
    margin-right: 10px;
    font-size: 11px;
}

/* --------------------------  SECTION 1------------------------*/

#section_1{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

#section_1 p{
    font-size: 13px;
}    

#hebergement{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 61%;
    min-height: 551px;
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 20px 20px 20px 35px;
    margin-right: 30px;
}

.hebergement-grid{ /*GRILLE*/
    display:grid;
    grid-template-columns: 30% 30% 30%;
    grid-column-gap: 40px;
    grid-row-gap: 30px;
    margin-right: 25px;
    justify-content: center;
    text-align: center;
}

.hebergement_box{
    background-color: #fff;
    border-radius: 20px;
    padding: 5px;
    box-shadow: 1px 5px 10px rgba(0, 0, 0, .2);
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
}

.img_hebergement{
    width: 100%;
    height: 100px;
    border-radius: 16px 16px 0 0;
}

.text_hebergement{
    padding: 0px 11px 10px 11px;
    text-align: left;
    line-height: 5px;
}

.text_hebergement h3{
    line-height: 17px;
}


#afficher_plus{
    position: absolute;
    left: 25px;
    bottom: 10px;
    font-size: 1.2em;
    margin-top: 10px;
}

aside{
    position: relative;
    background-color: #F2F2F2;
    width: 38%;
    border-radius: 20px;
    padding:20px 20px 20px 35px;
}

#arrow{
    position: absolute;
    top: 37px;
    right: 45px;
    color: black;
    width: 22px;
    border:none;
    border-radius: 0px;
}

#colonne_populaire{
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}

.sous_ensemble_populaire{
    display: flex;
    height: 140px;
    margin-right: 15px;
    box-shadow: 1px 5px 10px rgba(0, 0, 0, .2);
    border-radius: 20px;
}

.div_populaire{
    margin-bottom: 25px;
}

aside img{
    width: 36%;
    border: 5px solid white;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.description_populaire{
    position: relative;
    padding: 4px 11px 0px 11px;
    border-left: none;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: white;
    line-height: 17px;
    width: 100%;
}

.star-box{
    position: absolute;
    bottom: 10px;
}

aside p{
    line-height: 10px;
}

/* -------------------------- SECTION 2--------------------------*/

#section_2{
    margin-top: 30px;
    width: 100%;
    height:fit-content;
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 30px;
}

#ensemble_activite{
    width: 100%;
    height: 390px;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 180px);
    margin: 20px 0 20px 0;
    align-items:initial;
}

.activite_groupes{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.image_activite_mini, .activite_solo{
    background-color: white;
    box-shadow: 1px 5px 10px rgba(0, 0, 0, .2);
    border-radius: 20px;
    margin-bottom: 30px;
}

.image_activite_mini img, .activite_solo img{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.activite_solo, .image_activite_mini{
    position: relative;
}

.description_activites{
    justify-content: center;
    height: 35px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 1px 5px 10px rgba(0, 0, 0, .2);
    background-color: white;
    padding: 5px 15px 25px 15px;
    align-items: center;
}

.activite_solo .description_activites{
    position: relative;
    bottom: 4px;
}

/*Boxs placement*/
.box1{
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}
.box2{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}
.box3{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}
.box4{
    grid-column: 3 / 4;
    grid-row: 1 / 3;
}
.box5{
    grid-column: 4 / 5;
    grid-row: 1 / 2;
}
.box6{
    grid-column: 4 / 5;
    grid-row: 2 / 3;
}

/*Dimensionnement des images*/
/*Grandes images*/
.box1 img, .box4 img{  
    height: 360px;
    width: 100%;
}
/*Petites images*/
.box2 img, .box3 img, .box5 img, .box6 img{   
    height: 130px;
    width: 100%;
}

/* -------------------------- FOOTER-------------------------------------*/

footer{
    position: relative;
    bottom: 0px;
    display: flex;
    justify-content: left;
    align-items:baseline;
    width: 96%;
    min-height: 180px;
    margin: 30px 0px 0px 0px;
    background-color: #F2F2F2;
    padding: 25px 25px 25px 25px;
}

footer h3{
    font-size: 1em;
    padding-bottom: 6px;
}

.elements_footer{
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
}

footer h3, footer p{
    line-height: 17px;
    margin-right: 230px;
}

/*---------------------------------------------------------------------------------------------------------------*/
/* ------------------------------------------ RESPONSIVE DESIGN -------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------*/


/* ------------------------------------//--AJUSTEMENTS TABLETTE jusqu'à 1000px--//---------------------------------------*/


@media screen and (max-width: 1000px){
    body{
        font-size: 15px;
        position: relative;
        width: 100%;
    }
    
    #block{
        padding: 0px;
        width: 100%;
    }
    
    h3{
        font-size: 1.2em;
    }

    /* ---HEADER---*/

    header{
        position: relative;
        display: flex;
        flex-direction: column;
        font-size: 15px;
        justify-content: space-between;
        align-items: flex-start;
        margin: 0px;
        padding: 30px 0px;
    }

    .header-nav{
        display: flex;
        width: 100%;
        margin: 10px 0px 10px 0px;
        height: auto;
    }
    
    .header-nav :nth-child(1){
        order: 2;
        width: 100%;
        height: 50px;
        margin-right: 0px;
    }
    
    .header-nav :nth-child(2) {
        order: 3;
        width: 100%;
        height: 50px;
        margin-right: 0px;
    }
    
    .header-nav :nth-child(3) {
        position: absolute;
        right: 30px;
        top: 43px;
        height: auto;
        width: auto;
    }
    
    #inscription{
        margin: 0px;
    }
    
    #logo{
        margin-left: 20px;
    }

    #menu_activites a, #menu_hebergement a{
        border-bottom: 2px solid #F2F2F2;
    }
    
    #menu_hebergement a:hover, #menu_activites a:hover{
        height: 50px;
        color:#0065FC;
        border-top: none;
        border-bottom: 2px solid #0065FC;
        }

/*---TITRE PRINCIPAL, BARRE DE RECHERCHE, FILTRES et INFO---*/

    h1{
        margin-left: 20px;
    }
    
    #introduction p{
        margin-left: 20px;
    }

    #ville{
        font-size: 15px;
        width: 150px;
        padding-top: 15px;
        padding-bottom: 14px;
        bottom: 19px;
    }
    
    #bouton_rechercher>i{
        display: initial;
    }
    
    span{
        display: none;
    }
    
    .fa-search{
        color: white;
        font-size: 18px;
    }
    
    #bouton_rechercher{
        width: 75px;
        color : white;
        border-radius: 15px;
        position: relative;
        right: 15px;
    }

    #liste_filtres{
        flex-wrap: wrap;
        justify-content: start;
        height: auto;
        padding-left: 20px;
    }
    
    #liste_filtres h2{
        margin-right: 800px;    
    }
    
    .mes_filtres{
        margin: 0px 20px 10px 5px;
        font-size: 12px;
        line-height:0.4em;
        padding: 2px 18px 2px 32px;
        font-size: 16px;
    }

    #information{
        margin-left: 20px;
        position: relative;
    }
    
    #information>div>i{
        margin-right: 0px;
    }
    
    #information>div>p{
        margin-left: 0px;
    }

    /*---SECTION 1---*/

    #section_1{
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        width: 100%;
        margin: 0px;
    }
    
    aside{
        padding: 20px 20px 40px 20px;
        margin: 15px 0 0 0;
        border-radius: 0;
        width: auto;
        max-width: none;
        height: 600px;
        min-width: auto;
    }
    
    aside h2{
        padding-left: 13px;
    }
    
    .sous_ensemble_populaire{ 
        height: 165px;
        margin-left: 10px;
    }
    
    aside img{
        width: 30%;
    }
    
    .star-box{
        bottom: 20px;
    }

    #hebergement{
        width: 100%;
        border-radius: 0%;
        background-color: white;
        padding: 0;
        justify-content: center;
        margin-left: 0px;
    }

    .hebergement-grid{
        margin-right: 10px;
        margin-bottom: 40px;
        justify-content: center;
        text-align: center;
    }

    #hebergement h2{
        padding-left: 30px;
    }
    
    #afficher_plus{
        margin-top: 40px;
        position: absolute;
        left: 30px;
        bottom: 0px;
    } 

/*---SECTION 2---*/

    #section_2{
        margin-top: auto;
        margin-bottom: 50px;
        position: relative;
    }
    
    #section_2 h2{
        position: relative;
        left: 30px;
    }
    
    #ensemble_activite{
        margin: 0 0 20px 0;
    }
    
    .description_activites{
        height: 45px;
        padding: 5px 15px 25px 15px;
    }
    
    .image_activite_mini, .activite_solo{
        margin-bottom: 15px;
    }

/*---FOOTER---*/

    footer {
        justify-content: space-between;
        width: auto;
    }
    
    footer h3, footer p{
        margin-right: 0;
    }                                              
}

/* ---------------------------------------//--AJUSTEMENTS SMARTPHONE jusqu'à 768px--//-----------------------------------------*/

@media screen and (max-width: 767px){
    body{
        width: auto;
    }

/*---TITRE PRINCIPAL, BARRE DE RECHERCHE, FILTRES et INFO---*/
    
    h1{
        line-height: 30px;
    }
    
    #ville{
        width: 60%;
    }
    
    #bouton_rechercher{
        width: 45px;
    }

/*---SECTION 1---*/

    #section_1{
        padding-bottom: 10px;
    }
    
    #hebergement{
        width: auto;
        position: relative;
        padding: 20px 0px 20px 0px;
        margin: 0px 30px 0 30px;
    }

    #hebergement h2{
        padding-left: 0px;
    }
    
    .hebergement-grid{
        display: flex;
        flex-direction: column;
    }

    .img_hebergement{
        height: 120px;
    }
    
    .text_hebergement{
        padding: 0px 11px 8px 11px;
        line-height: 2px;
    }
    
    #afficher_plus{
        position: absolute;
        left: 0px;
        bottom: 0px;
    } 

/*---SECTION 2---*/

    #section_2{
        margin: 0px 30px 0 30px;
        width: auto;
    }
    
    #section_2 h2{
        left: 0px;
    }

    #ensemble_activite{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        gap: 0px;
        margin: 0;
        align-items:initial;
    }
    
    .activite_solo img, .image_activite_mini img{  
        height: 150px;
        width: 100%;
    }
    
    .image_activite_mini, .activite_solo{
        margin-bottom: 30px;
    }
    
    .description_activites{
        height: 45px;
        padding: 5px 15px 25px 15px;
    }
    
    .activite_solo .description_activites{
        top: 4px;
    }
    

    /*---FOOTER---*/
    
    footer{
        display: flex;
        flex-direction: column;
        justify-content: left;
        padding-left: 30px;
    }
    
    .elements_footer{
        margin-bottom: 20px;
    
    }
    
    footer h3, footer p{
            line-height: 12px;
    }
}

