/*----MISE EN PAGE GLOBALE----*/

body{
    font-size: 11px;
    font-family: 'Raleway', sans-serif;
}
#block{
    margin: auto;
    padding: 20px 30px 20px 30px;
    width: 70%;
    color: black;
}
a{
    text-decoration: none;
    color: black
}
.fas{ 
    color :#0065FC;
    font-size: 9px;
   } 

.fa {
   color:#F2F2F2;
}
h2{
    font-size: 1.3em;
    font-weight: bolder;
}
h3{
    font-size: 1em;
    font-weight: bolder;
}

#section_1 p{
    font-size: 10px;
}

/*-----HEADER-----*/

header{
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}
#inscription{
        font-weight: bold;
}
#inscription a{
        color: #0065FC;
}
#logo{
    width: 70px;
}
nav ul{
    display: flex;
    list-style-type: none;
}
nav li{
    margin-right: 30px;
}
#menu_herbergement a{
    color: #0065FC;
}

/*TITRE PRINCIPAL, BARRE DE RECHERCHE, FILTRES et INFO*/

#introduction h1{
    font-size: 1.3em;
    font-weight: bold;
}
#formulaire{
    position: relative;
    bottom:10px;
    display: flex;
    align-items: baseline;
}
#localisation{
    background-color: #F2F2F2;
    width: 11px;
    padding: 15px 14px 15px 14px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
#ville{
    position: relative;
    bottom: 17px;
    padding-top: 14px;
    padding-bottom: 13px;
    border :1px solid #F2F2F2;
}
#bouton_rechercher{
    position: relative;
    bottom: 17px;
    right: 4px;
    padding-top: 15px;
    padding-bottom: 13px;
    color : white;
    background-color:#0065FC;
    border: none;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

#liste_filtres{
    position: relative;
    bottom:10px;
    display: flex;
    align-items: center;
    justify-content:left;
    align-items: baseline;
}
.mes_filtres{
    position: relative;
    display: flex;
    margin-left: 20px;
    border:2px solid #F2F2F2;
    border-radius:25px;
    line-height:0.4em;
    padding: 2px 20px 2px 40px;
}
.mes_filtres:hover{
    background-color: rgb(242, 247, 255);
    box-shadow: 0px 0px 9px grey;
    font-weight: bold;
    color:white;
}
.bleu{
    position: absolute;
    left:-2px;
    bottom: -2px;
    width: 16px;
    height: 16px;
    border-radius: 20px;
    padding:10px;
    background-color: #DEEBFF;
 }
#liste_filtres h2{
     font-size: 1.1em;
 }

 #information{
     display: flex;
 }
#icon_info{
    margin-right: 10px;
}

/* ------  SECTION 1------*/

#section_1{
    display: flex;
    justify-content: space-between;
}
#hebergement{
    background-color: #F2F2F2;
    width: 65%;
    border-radius: 5px;
    padding:10px 25px 10px 25px;
}
#ligne1_hebergement{
    display: flex;
    justify-content: space-between;
}
#ligne2_hebergement{
    display: flex;
    margin-top: 25px;
    justify-content: space-between;
}
aside{
    background-color: #F2F2F2;
    width: 20%;
    border-radius: 7px;
    padding:10px 25px 25px 25px;
}
figure{
    position: relative;
    width: 165px;
    height: 140px;
    margin: auto;
    
}
.img_figure_section1{
    border-radius: 10px;
    border: 3px solid white;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    /* A VERIFIER box-shadow: 0px 3px 3px gray; */
}
.figcaption_section1{
    position: absolute;
    background-color: white;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    line-height: 5px;
    bottom: 0px;
    left: 0px;
    width: 99%;
    padding: 0px 0px 8px 8px;
}
#afficher_plus{
    font-size: 1.2em;
}


/* ------  SECTION 2------*/

#image_activite{
    display: flex;
    justify-content: space-around;
}


/* ------  FOOTER------*/

footer{
    position: relative;
    display: flex;
    margin-top: 30px;
    background-color: #F2F2F2;
    padding:10px 25px 10px 25px;
}
footer h3{
    font-size: 1em;
}
.elements_footer{
    position: relative;
    padding-right: 100px;
    margin-right: 100px;
}
footer h3, footer p{
    display: inline-block;
    margin-right: 100px;
    line-height: 0px;
}
